        body {
            background: whitesmoke;
        }

        .container {
            padding: 20px;
        }

        #trade,
        #tabel {
            flex: 1;
            margin: 10px;
            height: 500px;
            border-radius: 10px;
        }

        #trade {
            height: calc(100% - 32px);
        }

        .table {
            width: 100%;
            border-radius: 10px;
        }

        .logo {
            width: 50px;
            height: 50px;
        }

        /* Tambahan CSS untuk membagi tampilan menjadi dua kolom */
        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        /* Stil widget TradingView */
        .tradingview-widget-container {
            width: 48%;
            /* Sesuaikan dengan preferensi Anda */
            border-radius: 10px;
            overflow: hidden;
        }

        /* Stil untuk widget dan tabel */
        .widget-table-container {
            display: flex;
            justify-content: space-between;
        }

        /* Stil untuk merespons ukuran layar kecil */
        @media (max-width: 768px) {

            .tradingview-widget-container,
            .table {
                width: 100%;
                margin: 10px 0;
            }
        }

        .header {
            text-align: center;
            margin: 20px auto;
        }

        .header img {
            max-width: 100%;
            height: auto;

            /* Tambahkan border-radius sesuai keinginan */
        }

        header.masthead {
            padding-top: 10.5rem;
            padding-bottom: 6rem;
            text-align: center;
            color: #fff;
            background-image: url("crypto.jpg");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center center;
            background-size: cover;
        }

        header.masthead .masthead-subheading {
            font-size: 1.5rem;
            color: #0a98b4;
            font-style: italic;
            line-height: 1.5rem;
            margin-bottom: 25px;
            font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        header.masthead .masthead-heading {
            font-size: 3.25rem;
            font-weight: 700;
            color: #0baccc;
            line-height: 3.25rem;
            margin-bottom: 2rem;
            font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
